# .gitignore for Hexo

# Ignored files when deploying to GitHub Pages
.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.deploy_git/
*.sublime*
.svn/

# Ignored directories when deploying to GitHub Pages
backup/
drafts/
src/
themes/
.backup*/
.db*/ 
*.suo 
*.ntvs*
*.njsproj 
*.sln
*.swp
*.swo